# Virtual env
.venv/

# Data (keep local)
data/
*.csv
*.parquet
*.feather
*.db
*.duckdb
*.joblib

# MLflow
mlruns/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/

# Tools
tools/
