services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - ./artifacts:/app/artifacts:ro
      
  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    ports:
      - "8501:8501"
    volumes:
      - ./artifacts:/app/artifacts:ro
    environment:
      - FASTAPI_BASE_URL=http://api:8000
      - ENABLE_LOCAL_MODEL=0
    depends_on:
      - api

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:////mlflow/mlflow.db
      --default-artifact-root /mlruns
      --serve-artifacts
    volumes:
      - ./mlflow.db:/mlflow/mlflow.db
      - ./mlruns:/mlruns
